body {
 
  background: linear-gradient(
    90deg,
    rgb(21, 19, 23) 0%,
    rgb(6, 6, 8) 50%,
    rgb(5, 11, 7) 100%
  );
}

.wrapper {
 
  height: 100vh;
  max-width: 1000px;
  margin: auto;
}

.container{
  color: aliceblue;
  box-shadow: inset rgba(0, 0, 0, 0.7);
}

